@import '@fontsource/manrope';
@import '@fontsource/victor-mono';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --r-main-font: 'Manrope';
  --r-heading-font: 'Manrope';
  --r-code-font: 'Comic Sans MS';
}